# Core Dependencies
scikit-learn
torch
faker
flask
streamlit
firebase_admin
streamlit-navigation-bar
flask-cors
#streamlit --upgrade    ???? idk if this would work or not but the new streamlit allows CSS styling

# Additional Dependencies Used in the Project
numpy
pandas
requests
yfinance
plotly
